html {
  font-family: serif;
  text-align: center;
}

body {
  margin: 0;
}

header {
  height: 100px;
}

h1 {
  text-align: center;
  color: #000000;
  line-height: 100px;
  margin: 0;
}

h2 {
  text-align: center;
  color: #000000;
  line-height: 100px;
  margin: 0;
}

article {
  color: black;
  font-size: 23px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  background: #c9976c;
  flex: 130px;
  height: 140px;
  width: 140px;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 2px 2px #28211a94;
  place-items: center;
}

article:hover{
  background-color: #deb491;
}
article:active {
  background-color: rgba(200, 150, 108, 0.64) !important;
}

.section {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.flex-container {
  display: flex;
  margin: auto;
  background-color: rgba(255, 228, 196, 0.8);
  box-shadow: 1px 1px 3px #777;
 width: 800px;
  height: 500px;
  justify-content: center;
}

.category-btn{
  color: black;
  text-decoration: none;
}
.div-question{
  display: flex;
  justify-content: center;
  height: 60px;
}
.input-question{
  width: 450px;
  text-align: center;
  font-size: 18px;
}
.div-answer{
  margin: 20px;
}
.input-answer{
  height: 300px;
  width: 450px;
  text-align: center;
  font-size: 16px;
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none;
  border-radius: 6px;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  background-color: #e7f3ff;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
}
.btn:focus-visible {
  box-shadow: 0 0 0 2px #666;
}
.btn:hover {
  background-color: #DBE7F2;
}
.btn:active {
  transform: scale(0.96);}