<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Answer</title>
  <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body>

<div th:text="${question}"></div>
<div th:text="${answer}"></div>
<button class="btn" ><a th:href="@{/category/{category_id}/topic/{topic_id}/update(category_id=${category_id},topic_id=${topic_id})}">Редактировать</a></button>
<button class="btn"><a th:href="@{/topic/{topic_id}/passed(topic_id=${topic_id})}">Отметить</a></button>
<button class="btn"><a th:href="@{/category/{category_id}/topic/{topic_id}/delete(category_id=${category_id},topic_id=${topic_id})}">Удалить</a></button>
</body>
</html>