<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Interview</title>
</head>
<body>
<div th:switch="${categories_list}">
  <h2 th:case="null">No topics found!</h2>
  <div th:case="*">
    <h2>Главная страница</h2>
    <div><h2>Категория</h2></div>
    <div th:each="category : ${categories_list}">
      <a th:href="@{category/{category_id}/topics(category_id=${category.id})}" th:text="${category.name}">
      </a>
    </div>
  </div>
</div>
</body>
</html>