<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Interview</title>
  <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<header>
  <h1>Questionnaire</h1>
  <nav>
    <a>Ссылка</a>
    <a>Ссылка</a>
    <a>Ссылка</a>
  </nav>
</header>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/materialize.min.js}"></script>

<div class="container">
  <h2>Категория</h2>
  <div th:switch="${categories_list}">
    <h2 th:case="null">No topics found!</h2>
    <div class="category-container" th:case="*">
      <article th:each="category : ${categories_list}">
        <a class="category-btn" th:href="@{category/{category_id}/topics(category_id=${category.id})}"
           th:text="${category.name}"></a>
      </article>
    </div>
  </div>
</div>
</body>
</html>