<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Interview</title>
  <link type="text/css" rel="stylesheet" th:href="@{/materialize.min.css}" media="screen,projection">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/materialize.min.js}"></script>
<div th:switch="${categories_list}">
  <h2 th:case="null">No topics found!</h2>
  <div th:case="*">
    <h2>Главная страница</h2>
    <div><h2>Категория</h2></div>
    <div th:each="category : ${categories_list}">
      <a th:href="@{category/{category_id}/topics(category_id=${category.id})}" th:text="${category.name}">
      </a>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">Autocomplete</label>
        </div>
      </div>
    </div>
  </div>
  <div>[(${categories_data})]</div>
  <script>

    $(document).ready(function () {
      $('input.autocomplete').autocomplete({
        data: [(${categories_data})],
      });
    });

  </script>
</div>
</body>
</html>