<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Interview</title>
</head>
<body>
<div th:switch="${topics_list}">
  <h2 th:case="null">No topics found!</h2>
  <div th:case="*">
    <h2>Вопросы категории</h2>
    <div>Где-то здесь будет поисковая строка</div>
    <div th:each="topic : ${topics_list}">
      <span th:text="${topicStat.index+1}"></span>
      <a th:href="@{/topic/{topic_id}/answer(topic_id=${topic.id})}" target="_blank" th:text="${topic.question}"></a>
    </div>
  </div>
  <p style="text-align: center"><a href="/topic/create">Добавить вопрос</a></p>
  <p style="text-align: center"><a href="/">Назад</a></p>
</div>
</body>
</html>